# Ignore the following!
.DS_Store
.htaccess
wp-config.php
wp-content/uploads/
phpinfo.php
debug.sql

# build stuff
npm-debug.log
wp-content/themes/accelerate-theme-child/node_modules
wp-content/themes/accelerate-theme-child/gulpfile.js
wp-content/themes/accelerate-theme-child/img/source
