# Ignore the following!
.DS_Store
.htaccess
wp-config.php
wp-content/uploads/
phpinfo.php
debug.sql
accel_database.sql
backup.sh
test-db-connection.php
wpsucli

# build stuff
wp-cli.yml
npm-debug.log
wp-content/themes/accelerate-theme-child/node_modules
wp-content/plugins/simply-show-hooks/
#wp-content/themes/accelerate-theme-child/gulpfile.js
wp-content/themes/accelerate-theme-child/img/source
vendor/

# debugging
wp-content/plugins/query-monitor/
wp-content/db.php

# editor specific
.vscode/
